---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>My Favorite Books</h1>
<table border="1" id="books">
  <tr class="header">
    <td>TITLE</td>
    <td>AUTHOR</td>
    <td>ISBN</td>
  </tr>
</table>